
<h1>About Jungle</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie, risus nec sagittis dapibus, dui tellus finibus odio, sit amet venenatis orci purus eget nunc. Duis vel gravida mi. Suspendisse potenti. Nunc ac erat quis lorem tempor blandit. Mauris non cursus turpis. Phasellus pellentesque, sem quis tincidunt varius, magna felis aliquam leo, quis posuere leo diam tincidunt sapien. Curabitur finibus ornare libero et placerat. Suspendisse aliquet malesuada ligula, nec rhoncus magna sodales vitae. Integer tempus eu lorem maximus tempus. Nullam dapibus elementum nunc in imperdiet.
<p>

<img src="https://media.giphy.com/media/oNTQZNB67kMf5VHiCj/giphy.gif" alt="Jungle" width="300">